.container-contenance {
    width: 100%;
    position: relative;
}
.parallax {
    /* Set a specific height */
    height: 400px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.parallax-text-container {
    width: 100%;
    background-color: #212121;
    color: white;
}
.parallax-text {
    padding-top: 90px;
    padding-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    font-size: 25px;
}
#parallax1  {
    background-image: url("./media/elefant2.jpg");
}
#parallax2  {
    background-image: url("./media/elefant4.jpg");
}
#parallax3  {
    background-image: url("./media/elefant3.jpg");
}
#parallax4  {
    background-image: url("./media/elefant5.jpg");
}
#text-contenance {
    background-color: white;
    font-size: 17px;
    color: #212121;
    font-weight: 700;
    padding: 50px;
}

@media only screen and (max-width: 1000px) {
    .parallax-text {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 820px) {
    .parallax {
      background-attachment: scroll;
      height: 500px;
    }
    .parallax-text {
        padding: 25px;
    }
  }