.title-product {
    font-size: 17px;
    color: #212121;
    font-weight: 700;
}
.container-product {
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    color: white;
}
.container-product-small {
    flex-direction: row;
}
.container-product-amazon {
    flex-direction: column;
}
.image-product {
    border-style: solid;
    border-color: #212121;
    object-fit: contain;
    width: 100%;
    box-sizing: border-box;
}
.image-product-small {
    width: 45%;
}
.image-product-small-right {
    width: 45%;
    margin-left: auto;
}
.product-info {
    background-color: #212121;
    width: 45%;
    position: relative;
    border-color: #212121;
    position: relative;
    box-sizing: border-box;
}
.product-info-right {
    margin-left: auto;
}
.product-info-amazon {
    width: 100%;
    padding-top: 0;
}
.info-title {
    font-size: 17px;
    font-weight: 700;
    padding: 20px;
}
.info-title-list {
    padding-top: 20px;
    padding-left: 30px;
}
.info-subtitle {
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.info-text {
    font-size: 15px;
    font-weight: 300;
    padding: 20px;
}
.info-list {
    font-size: 15px;
    font-weight: 300;
    margin: 20px;
    margin-left: 40px;
    padding: 0;
    list-style-type: circle;
}
.link-amazon {
    font-size: 20px;
    font-weight: 300;
    margin: 10px;
    height: 60px;
    border-style: solid;
    border-color: white;
    display: flex;
}
.image-amazon {
    background-color: white;
    height: 40px;
    padding: 10px;
}
.buy-amazon {
    display: inline-block;
    padding: 10px;
    padding-left: 30px;
    text-align: center;
    width: 100%;
}
.bullet-head {
    width: 100%;
    text-align: center;
}
.bullet-body {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.bullet-body-last {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#image-sicherheit {
    background-color: #212121;
}
.buy-mobile {
    display: none;
}

@media only screen and (max-width: 900px) {
    .info-title {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .info-subtitle {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .info-text {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media only screen and (max-width: 820px) {
    #image-sicherheit {
       
    }
    .title-product {
        padding-bottom: 20px;
        padding-left: 20px;
    }
    .product-info-amazon {
        padding-top: 20px;
    }
    .container-product-small {
        flex-direction: column;
    }
    .image-product-small {
        width: 100%;
    }
    .image-product-small-right {
        width: 100%;
    }
    .image-product {
        border: none;
    }
    .product-info {
        width: 100%;
        order: 2;
        padding-top: 20px;
        padding-bottom: 20px;
        border: none;
    }
    .buy-amazon {
        padding-left: 15px;
    }
    .container-product {
        padding-top: 0;
        padding-bottom: 0;
    }
    .container-product-amazon {
        
        border-bottom-style: solid;
        border-color: white;
    }
    #buy-pc {
        display: none;
    }
    .buy-mobile {
        display: block;
        border: none;
    }
}